---
import Layout from '~/layouts/PageLayout.astro';
import '~/assets/styles/tailwind.css';
import { I18N } from "~/utils/config";
import CommonMeta from '~/components/common/CommonMeta.astro';
import Favicons from '~/components/Favicons.astro';
import CustomStyles from "~/components/CustomStyles.astro"
import Metadata from '~/components/common/Metadata.astro';
import SiteVerification  from "~/components/common/SiteVerification.astro"
import BasicScripts from '~/components/common/BasicScripts.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import type { Code, Debug } from 'astro:components';
import Button from '~/components/ui/Button.astro';
import Image from '~/components/common/Image.astro';
import appStoreImg from '~/assets/images/app-store.png';
const appStoreDownloadLink = 'https://apps.apple.com/us/app/endlesshurdles/id6450933481';

const metadata = {
  title: 'Endless Hurdles - How long can you survive?',
};
---
<body class="bg-[url('/images/eh/Background1.webp')] bg-repeat-x bg-[#299000]">
    <Layout metadata={metadata}>
<container class="center">
    <!-- Title image -->
    <img src="/public/images//eh/EndlessHurdlesTitle.webp" class="m-auto mt-20 p-10 md:p-4 sm:p-4 sm:pl-10 sm:pr-10"/>
    <!-- HeroText Widget ******************* -->
    <p class="font-mono md:text-4xl sm:text-3xl font-medium text-center md:pt-10 sm:pt-10">How long can you survive?</p>
    <!-- Download section -->
    <container class="p-10 flex mx-auto mt-6 justify-center">
    <Image src="/images/eh/EHAppIcon.webp" alt="Endless Hurdles App Icon" width={128}/>
        <!-- Download button -->
        <Button variant="link" href={appStoreDownloadLink} class="flex pl-10 items-center">
            <Image src={appStoreImg} alt="App Store Image" width={250}/>
        </Button>
    </container>
    <!-- End Download section -->
    <!-- Screenshots -->
    <div class="flex w-full">
    <container class="grid grid-flow-row pt-20 pb-20 w-full">
        <container class="bg-green-600 flex flex-col content-center pt-10 pb-20 relative">
            <div class="flex justify-center">
            <Image src="/images/eh/Triangle.png"
                alt="Down Arrow"
                width={128}
                  class="absolute -top-6"
                />
            </div>
            <h2 class="sm:text-3xl text-1xl text-center pt-10 font-medium text-white">Jump hurdles to score and survive</h2>
            <Image src="/images/eh/Screenshot1.webp"
                alt="App Store Game Image 1"
                width={1024}
                class="m-auto"
                />
        </container>
        <container class="bg-green-700 flex flex-col content-center pt-10 pb-20  relative">
            <div class="flex justify-center">
                <Image src="/images/eh/Triangle.png"
                    alt="Down Arrow"
                    width={128}
                      class="absolute -top-6"
                    />
                </div>
            <h2 class="sm:text-3xl text-1xl text-center pt-10 font-medium text-white">Collect and use jump power</h2>
            <Image src="/images/eh/Screenshot2.webp"
                alt="App Store Game Image 2"
                width={1024}
                class="m-auto"
                />
        </container>
        <container class="bg-green-800 flex flex-col content-center pt-10 pb-20  relative">
            <div class="flex justify-center">
                <Image src="/images/eh/Triangle.png"
                    alt="Down Arrow"
                    width={128}
                      class="absolute -top-6"
                    />
                </div>
            <h2 class="sm:text-3xl text-1xl text-center pt-10 font-medium text-white">Beat your highest score</h2>
            <Image src="/images/eh/Screenshot3.webp"
                alt="App Store Game Image 3"
                width={1024}
                class="m-auto"
                />
        </container>
    </container>
    </div>
    <!-- End Screenshots -->
        <!-- Download section -->
        <container class="pb-20 pt-10 flex mx-auto justify-center">
            <Image src="/images/eh/EHAppIcon.webp" alt="Endless Hurdles App Icon" width={128}/>
                <!-- Download button -->
                <Button variant="link" href={appStoreDownloadLink} class="flex pl-10 items-center">
                    <Image src={appStoreImg} alt="App Store Image" width={250}/>
                </Button>
            </container>
            <!-- End Download section -->
    <!-- Support buttons -->
    <container class="flex justify-center space-x-8 pb-20">
    <Button variant="link" href="/endless-hurdles-privacy-policy" class="font-mono text-white p-3 rounded-lg bg-blue-600 justify-center">
        <p>Help and Support</p>
    </Button>
    <Button variant="link" href="/endless-hurdles-privacy-policy" class="font-mono text-white p-3 rounded-lg bg-blue-600 justify-center">
        <p>Privacy Policy</p>
    </Button>
    </container>
</container>
</Layout>
</body>
